<div class="nav-wrap">
  <button class="nav__toggle" type="button" aria-label="Отобразить меню"
          aria-controls="main-menu" aria-expanded="false">
    <span class="nav__burger"></span>
  </button>
  <nav class="nav">
    <ul id="main-menu" class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="#" aria-label="шаг назад">
          {{ macro.svg('chevron-left', 44, 44) }}
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#" aria-label="поиск по сайту" data-modal-open="search-modal">
          {{ macro.svg('search', 44, 44) }}
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#" aria-label="каталог фруктов">
          {{ macro.svg('fruits', 56, 57) }}
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#" aria-label="каталог овощей">
          {{ macro.svg('vegetables', 56, 57) }}
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#" aria-label="о нас">
          {{ macro.svg('info', 46, 46) }}
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#" aria-label="корзина">
          {{ macro.svg('bag', 38, 44) }}
        </a>
      </li>
    </ul>
    <div class="nav__mask">
      <img src="img/svg/nav-mask.svg" width="102" height="113" alt="маска">
    </div>
  </nav>
</div>

